/* CCS reset */
html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
label,
legend,
p,
blockquote,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

abbr,
acronym {
  border: 0;
}

/* helper classes */
.flexbox {
  display: flex;
  flex: 1;
}

.flex-direction {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.flex-row { flex-direction: row; }
.flex-end { justify-content: flex-end; }
.flex.space-between { justify-content: space-between; }

.washed-out {
  color: #757575;
  font-size: 13px;
}

.bold {
  text-emphasis: bo;
}

/* general formatting */
html {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e2e2e2;
  max-height: 42px;
  background-color: white;
}

figure img {
  min-width: 100%;
  max-width: 100%;
}

.font {
  font-weight: bold;
}

/* Navigaton bar left */
.material-icons {
  margin: 10px;
  font-size: 4px;
}

.spaceandcosmos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.25px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 19px;
  margin: 12px 0 0 20px;
  min-width: 150px;
  text-transform: uppercase;
}

/* Navigation bar middle */
.navbar-logo img {
  height: 65%;
  margin: 10px;
}

/* Navigation bar right */
.subscribe-button,
.login-button {
  float: right;
  background-color: rgb(86, 123, 149);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
  padding: 11px 12px 8px;
  margin: 5px 10px 5px 0;
}

.navbar-extra-info {
  visibility: hidden;
}

/* Header Section */
.main-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #121212;
  font-style: italic;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 1.9rem;
  line-height: 3rem;
  max-width: 600px;
}

.main-banner {
  max-width: 80%;
}

figure {
  margin: 0;
}

figcaption {
  color: #666;
  font-family: imperial, georgia, 'times new roman', times, serif;
  font-size: 0.9375em;
  line-height: 1.25rem;
  margin-right: 7px;
}

.caption {
  color: rgb(136, 136, 136);
  font-size: 0.725rem;
  line-height: 1.75rem;
}

figcaption .media-description {
  color: rgb(102, 102, 102);
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0.5rem 0;
  max-width: 72rem;
}

@font-face {
  font-family: cheltenham;
  src: url(/fonts/cheltenham/) format("truetype");
}

@font-face {
  font-family: imperial;
  src: url(/fonts/imperial/) format("truetype");
}

@font-face {
  font-family: franklin;
  src: url(/fonts/franklin/) format("truetype");
}

h1.customfont {
  font-family: cheltenham, georgia, 'times new roman', times, serif;
}

.franklin {
  font-family: franklin, Arial, Helvetica, sans-serif;
}

.author-section {
  max-width: 600px;
  min-width: 600px;
}

.author {
  float: left;
  display: inline-block;
  margin-top: 25px;
  color: #333;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.author a {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #ccc;
}

.date-posted {
  align-items: center;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-top: -17px;
  margin-bottom: 1rem;
  font-weight: 500;
  float: left;
}

.social-links {
  position: relative;
  min-width: 600px;
  max-width: 600px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.social-icons button {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 100%;
  padding: 15%;
}

li {
  margin: 4px;
  height: 30px;
  width: 30px;
}

.facebook-icon,
.twitter-icon,
.email-icon,
.share-icon {
  height: 15px;
  width: 15px;
  background-color: #eee;
  padding: 5px;
  border-radius: 100%;
  position: relative;
  margin-bottom: 25px;
}

.bookmark-icon {
  width: 25px;
  background-color: #fff;
  height: 25px;
}

li img:hover {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 100%;
  padding: 5px;
  height: 15px;
  width: 15px;
}
